	<!--====== CATEGORIES PART START ======-->
	<section class="categories-area pt-170 pb-170">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto">
					<div class="section-title text-center">
						<h2 class="wow fadeInUp" data-wow-delay=".2s">Top Catagories</h2>
						<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusam.</p>
					</div>
				</div>
			</div>
			<div class="row mb-30">
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">

<div class="cardcategory">
								<div class="cardimg">
                  <h3>Design</h3>
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >

          </div>
 </div>

						</div>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">
								<div class="cardimg">
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >
          </div>
							<h3>Development</h3>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">
							<div class="cardimg">
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >
          </div>
							<h3>Marketing</h3>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">
								<div class="cardimg">
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >
          </div>
							<h3>SEO</h3>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">
								<div class="cardimg">
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >
          </div>
							<h3>Photography</h3>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">
								<div class="cardimg">
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >
          </div>
							<h3>Business</h3>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">
								<div class="cardimg">
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >
          </div>
							<h3>Analysis</h3>
						</div>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<a href="javascript:void(0)" class="d-block category-wrapper">
						<div class="single-category">
							<div class="cardimg">
            <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                 class="img-fluid" >
          </div>
							<h3>IT & Software</h3>
						</div>
					</a>
				</div>
			</div>

		</div>
	</section>
	<!--====== CATEGORIES PART ENDS ======-->
