<footer id="footer" class="footer-area pt-5 pb-3">
    <div class="container">
<<<<<<< HEAD
        <div class="row">
            <div class="col-md-3">
                <%= image_tag("uskillslogo.png", alt: "App Logo", class: "footer-logo") %>
                <p class="mt-3">About us.</p>
            </div>
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Our Courses</h5>
                <ul class="footer-links">
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Development</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="footer-contact">
                    <li>Phone: +33 6 69 88 57 80</li>
                    <li>Email: USkills@gmail.com</li>
                    <li>Address: Random Road Paris, France</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Follow Us</h5>
                <ul class="list-inline social-icons">
                <br>
                    <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <!-- Nouvelle liste pour les logos -->
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul>
=======
        <section>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!-- <div class="footer-widget"> -->
                    <%= image_tag("uskillslogo.png", alt: "App Logo" , class: "img-thumbnail" , size: "90x90" ) %>
                        <p>About us .</p>
                        <!-- </div> -->
                </div>
                <div class="col-xl-2 col-lg-2 offset-xl-1 offset-lg-1 col-md-6">
                    <!-- <div class="footer-widget"> -->
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="javascript:void(0)">Home</a></li>
                        <li><a href="javascript:void(0)">Courses</a></li>
                       
                    </ul>
                    <!-- </div> -->
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6">
                    <!-- <div class="footer-widget"> -->
                    <h5>Our Course</h5>
                    <ul>
                        <li><a href="javascript:void(0)">Design</a></li>
                        <li><a href="javascript:void(0)">Development</a></li>
                        
                    </ul>
                    <!-- </div> -->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!-- <div class="footer-widget"> -->
                    <h5>Contact Us</h5>
                    <ul>
                        <li>
                            <p>Phone: +336-9273-3867</p>
                        </li>
                        <li>
                            <p>Email: USkills@gmail.com</p>
                        </li>
                        <li>
                            <p>Address: Random Road Paris<br> France</p>
                        </li>
                    </ul>
                    <!-- </div> -->
                </div>
            </div>
            <div class="footer-credit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copy-right text-center text-md-left">
                            <p>Designed and Developed by <a href="https://uideck.com" rel="nofollow">USkills</a></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-social">
                            <ul class="d-flex justify-content-md-end justify-content-center">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
>>>>>>> 4ed8291516d5e783919b44db0b354776e73e887f
            </div>
        </section>
    </div>
    
</footer>
