<!-- app/views/boats/search.html.erb -->
<div class="container mt-3">
    <div class="row">
      <div class="col-12"><br>
        <h5>Quelle nouvelle compéténce voulez-vous apprendre ?</h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @skills.count %> Skills out of our <%= Skill.count %> on our website.</p>
        <% else %>
          <p>All <%= Skill.count %> skills.</p>
        <% end %>
  
  
      </div>
    </div><br>
  </div>
  