<section id="home" class="hero-area">
  <div class="banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 offset-lg-2 text-center">
          <h2 class="hero-title">Apprenez à Votre Rythme, Enrichissez Votre Avenir</h2>
          <p class="hero-subtitle">Découvrez des Cours Uniques Dispensés par des Experts</p>
          <%= link_to "Explorer les Cours", user_reservations_path(current_user), class: "btn-primary-index" %>
        </div>
      </div>
    </div>
  </div>
</section>
