<<<<<<< HEAD
<section id="home" class="hero-area">
  <div class="banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 offset-lg-2 text-center">
          <h2 class="hero-title">Apprenez à Votre Rythme, Enrichissez Votre Avenir</h2>
          <p class="hero-subtitle">Découvrez des Cours Uniques Dispensés par des Experts</p>
                <%= form_tag(search_skills_path, method: :get, class: "d-flex") do %>
                          <input class="form-control me-2" name="query" type="search" placeholder="Recherchez une catégorie" aria-label="Search" value="<%= params[:query] %>">
=======
b <!--====== HERO section  PART START ======-->
>>>>>>> 4ed8291516d5e783919b44db0b354776e73e887f

                          <button class="btn btn-search" type="submit">Rechercher</button>
                          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
