.banner {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:  url("https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg");
    background-size: cover;
    background-position: center;
}