.cardm {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.section-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.cardm:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.cardimg img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 15px;
}

.rating {
  color: gold;
  font-size: 1.2em;
}

.card-body h5 {
  margin-bottom: 5px;
}

.card-body .rating {
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #666;
}

.card_formateur {
  max-width: 320px;
  border-radius: 1rem;
  background-color: rgba(31, 41, 55, 1);
  padding: 1rem;
  position: relative;
}

.btn_details {
  display: inline-block;
  width: 19.37px;
  height: 16.99px;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}

.custom-btn {
  background-color: rgb(118, 36, 194);
  border-color: rgb(118, 36, 194);
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-color: rgb(118, 36, 194);
  background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240));
}

.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}
